<div class="form" [formGroup]="form">
  <app-custom-input
    [formControllerName]="getControlField('name')"
    [placeholder]="'Enter your name'"
    [label]="'Name'"
    [error]="true"
    [type]="'text'"
  ></app-custom-input>

  <app-custom-input
    [formControllerName]="getControlField('email')"
    [placeholder]="'Enter your email'"
    [label]="'Email'"
    [error]="true"
    [type]="'email'"
  ></app-custom-input>

  <div class="form__isValid">
    <p>
      Is form valid: <strong>{{form.valid}}</strong>
    </p>
  </div>

</div>

<!---
  placeholder?: string
  label?: string
  error?: boolean
  type: 'text' | 'number' | 'email'
--->
